// 变量
@import './variables.scss';
// 动画
@import './transition.scss';

*{
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: $fontColor;
  margin:0;
}
.app-wrap {
  height: 100%;
}
  

body{
  color: $fontColor;
  background:url('../images/bg.png') 0 bottom repeat-x #000304;
}


/**
登录
*/
.login-wrap{
  margin:20% 98px 0;
}
.login-form{
  .form-item{
    height:125px;
    line-height: 125px;
    vertical-align: middle;
    width:100%;
    margin:0 auto 10px;
  }
}

.form-item{
  .logo{
    font-size:60px;
  }
  input{
    width: 250px;
    height: 35px;
    line-height: 35px;
    border:none;
    font-size: 18px;
    outline: none;
    text-align: center;
    color: #00ECF0;
    background: transparent;
    vertical-align: middle;
    margin:15px auto 0;
  }
  &.username{
    background:url('../images/user.png') center center no-repeat;
  }
  &.password{
    background:url('../images/password.png') center center no-repeat;
  }
  &.loginBtn{
    cursor: pointer;
    width:285px;
    height:113px;
    margin:0 auto;
    border:none;
    outline: none;
    background: url('../images/btn.png') center 0 no-repeat;
  }
}

/**
结构
*/
.app-wrap{
  .app-top{
    position: fixed;
    top:0;
    padding:0 30px;
    width: 100%;
    height:40px;
    border-bottom:1px solid #005658;
    background: $barBackgroundColor;
  }
  .app-top{
    .left{
      float:left;height:40px; width:20%; background: url('../images/top-left.png') 0 center no-repeat;
    }
    .center{float:left;height:40px; width:60%; background: url('../images/top-center.png') center center no-repeat;}
    .right{float:right;height:40px; width:20%; background: url('../images/top-right.png') right center no-repeat;}
  }
  .app-title{
    //position: fixed;
    top:0px;
    width: 100%;
    height:88px;
    line-height: 88px;
    background: $barBackgroundColor;
    text-align: center;
    font-size:30px;
  }
  .app-title .backPage{
    height: 88px;
    width: 80px;
    float: left;
    background: url('../images/back.png') 0 center no-repeat;
    cursor: pointer;
  }
  .app-title .title{
    width: 500px;
    margin: 0 auto;
  }
  .app-content{
    width: 100%;
    margin:0px auto 0px;
    overflow: auto;
    padding:30px 0 0;
  }
  .app-bar{
    position: fixed;
    bottom:0;
    width: 100%;
    height:98px;
    background: $barBackgroundColor;
    display: flex;
    padding:0 20px;
  }
  .app-bar .bar-item{
    flex:50%;
    text-align: center;
    cursor: pointer;
    i{
      display: block;
      width: 100%;
      height:40px;
      text-align: center;
      margin:15px 0 5px;
    }
    i.icon-task{
      background: url('../images/icon-task.png') center center no-repeat;
    }
    i.icon-my{
      background: url('../images/icon-my.png') center center no-repeat;
    }
    .text{
      font-size: 20px;
      color: $fontColor;
    }
    a{
      outline: none;
      text-decoration: none;
    }
  }
  .app-bar .bar-item:hover,
  .app-bar .bar-item:active,
  .app-bar .router-link-active{
    .text{color:#fff;}
    i.icon-task{
      background: url('../images/icon-task-active.png')  center center no-repeat;
    }
    i.icon-my{
      background: url('../images/icon-my-active.png') center center no-repeat;
    }
  }
}

   /**
  task
  */
.taskList{
  width:100%;
  margin:0 auto;
  .task-item{
    cursor: pointer;
    width:710px;
    height:313px;
    padding:30px 30px;
    margin:0 auto 30px;
    background: url('../images/card.png') 0 0 no-repeat;
    background-size: contain;
  }
  .left{
    flex:0 60%;
    max-width:60%;
    padding-right:5px;
  }
  .right{
    flex:0 40%;
    max-width:40%;
    padding-left:5px;
  }
  .item{
    border:1px solid $fontColor;
  }
  .left .item{
    width:100%;
    height:80px;
    line-height: 80px;
    text-align: right;
    vertical-align: bottom;
    margin:4px 0 4px;
    padding-right:10px;
    position: relative;
  }
  .left .item .en,
  .left .item .cn{
    display: block;
    position: absolute;
    height:20px;
    line-height: 20px;
    color:$fontColor;
    font-size: 20px;
  }
  .left .item .en{
    left:10px;
    top:10px;
  }
  .left .item .cn{
    left:10px;
    bottom:10px;
  }
  .left .flex .item{
    margin-bottom: 0;
  }
  .right .item{
    width: 100%;
    height:100%;
    background:url('../images/task-item-sop.png') center center no-repeat;
  }
  .left .item-1{
    //background: url('../images/1.png') 0 0 no-repeat;
    font-size: 30px;
    color: #fff;
    margin-top:0;
  }
  .item-2{
    //background: url('../images/2.png') 0 0 no-repeat;
    font-size: 30px;
    color: #fff;
  }
  .left .item-3{
    flex:0 50%;
    width: 50%;
    line-height: 100px;
    vertical-align: bottom;
    //background: url('../images/3.png') 0 0 no-repeat;
    margin-right:7px;
    font-size: 20px;
    color: #fff;
  }
  .left .item-4{
    flex:0 50%;
    width: 50%;
    line-height: 100px;
    vertical-align: bottom;
    //background: url('../images/4.png') 0 0 no-repeat;
    font-size: 20px;
    color: #fff;
  }
}

/**
详情
*/
.task-detail{
  width:715px;
  margin:0 auto;
  .card img{
    width: calc(100% - 20px);
    margin:10px;
  }
}

/*
卡片
*/
.card{
  min-height: 200px;
  margin:0 0 20px;
  border:1px solid #1c909d;
  background: url('../images/card-bg.png') 0 0 repeat;
  position: relative;
  .dt{
    position: absolute;
    top:0;
    width: 100%;
  }
  .dt:before{
    content:'';
    display: block;
    width:12px;
    height:12px;
    position: absolute;
    left: 0;
    top:-1px;
    z-index: 2;
    background:url('../images/card-top-left@2x.png') 0 0 no-repeat;
  }
  .dt:after{
    content: '';
    display: block;
    width:12px;
    height:12px;
    position: absolute;
    right:0px;
    top:-1px;
    z-index: 2;
    background:url('../images/card-top-right @2x.png') right 0 no-repeat;
  }
  .db{
    position: absolute;
    bottom:0;
    width: 100%;
  }
  .db:before{
    content: '';
    display: block;
    width:12px;
    height:12px;
    position: absolute;
    left: 0px;
    bottom:-2px;
    background:url('../images/card-bottom-left@2x.png') 0 bottom no-repeat;
  }
  .db:after{
    content: '';
    display: block;
    width:12px;
    height:12px;
    position: absolute;
    right: 0px;
    bottom:-2px;
    background:url('../images/card-bottom-right@2x.png') right bottom no-repeat;
  }
  .dc{
    padding: 60px 40px;
  }
}

/**
个人中心
*/
.my-center{
  width:715px;
  margin:0 auto;
  .my img{ text-align: center;  margin:0 auto;}
  .my .dc{
    text-align: left;
    color: #fff;
    font-size: 30px;
  }
  p{
    line-height: 70px;
  }
}

/**/
.logout{
  cursor: pointer;
  width:426px;
  height:150px;
  margin:0 auto;
  background: url('../images/btn-exit.png') center center no-repeat;
}


.flex{
  display: flex;
}



@media (min-width:992px) {
  .app-wrap {
    .app-top{
      .left{
        float:left;height:40px; width:20%; background: url('../images/top-left@2x.png') 0 center no-repeat;
        
      }
      .center{float:left;height:40px; width:60%; background: url('../images/top-center@2x.png') center center no-repeat;}
      .right{float:right;height:40px; width:20%; background: url('../images/top-right@2x.png') right center no-repeat;}
    }
    .app-bar .bar-item i.icon-task{
      background: url('../images/icon-task@2x.png') center center no-repeat;
      background-size: contain;
    }
    .app-bar .bar-item i.icon-my{
      background: url('../images/icon-my@2x.png') center center no-repeat;
      background-size: contain;
    }
    .app-bar .bar-item:hover,
    .app-bar .bar-item:active,
    .app-bar .router-link-active{
      .text{color:#fff;}
      i.icon-task{
        background: url('../images/icon-task-active@2x.png')  center center no-repeat;
        background-size: contain;
      }
      i.icon-my{
        background: url('../images/icon-my-active@2x.png') center center no-repeat;
        background-size: contain;
      }
    }
    .taskList .task-item .right .item{
      background:url('../images/task-item-sop@2x.png') center center no-repeat;
    }
  }  
}
